@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}

:root {
  /* primary */
  --clr-unsaturated-red: hsl(0, 36%, 70%);
  --clr-soft-red: hsl(0, 93%, 68%);
  /* neutral */
  --clr-dark-grayish-red: hsl(0, 6%, 24%);
  /* gradients */
  --clr-light-gradient: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
  --clr-darker-gradient: linear-gradient(
    135deg,
    hsl(0, 80%, 86%),
    hsl(0, 74%, 74%)
  );

  /* fonts */
  --ff-primary: "Josefin Sans", sans-serif;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semibold: 600;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

body{
  font-family: var(--ff-primary);
}

.container{
  width: 80%;
  margin-inline: auto;
}

.info{
  display: grid;
}

.info__header{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.info__img--mobile{
  display: block;
  margin-bottom: 5rem;
  width: 100%;
}

.info__img--desktop{
  display: none;
}

.info__main{
  text-align: center;
}

.info__main__title{
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: var(--fw-light);
  color: var(--clr-unsaturated-red);
  line-height: 1;
  letter-spacing: 5px;
  margin-bottom: 2rem;
}

.bold{
  display: block;
  color: var(--clr-dark-grayish-red);
  font-weight: var(--fw-semibold);
}

.info__main__para{
  font-size: 1.4rem;
  color: var(--clr-unsaturated-red);
  line-height: 1.6;
  margin-bottom: 2rem;
}

.info__main__form{
  position: relative;
  padding-bottom: 8rem;
}

.info__main__form__input{
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-inline-start: 2rem;
  font-size: 1.3rem;
  outline: none;
  border: none;
  border: 1px solid hsl(0, 36%, 85%);
  border-radius: 10rem;
  color: var(--clr-unsaturated-red);
}

.info__main__form__btn{
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  height: 3.72rem;
  border-radius: 2rem;
  border: none;
  background: var(--clr-darker-gradient);
  cursor: pointer;
}

/* media queries */

@media (min-width: 37.5em){
  .info__img--mobile{
    width: 50%;
    margin-inline: auto;
  }
  .container{
    width: 50%;
  }
  .info__main__form__btn{
    width: 6rem;
  }
}

@media (min-width: 68.75em){
  
  

  .info{
    grid-template-columns: 1.5fr 1fr;
  }

  .info__img--mobile{
    display: none;
  }

  .info__img--desktop{
    display: block;
    grid-column:  2 / 3;
    grid-row: 1 / 2;
  }

  .info__header,
  .info__main{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    
  }
  .info__main{
    align-self: center;
    text-align: left;
  }
  
  .info__main__title{
    font-size: 6rem;
    margin-top: 15rem;
  }

  .info__main__para{
    font-size: 1.7rem;
  }
  .info__header__logo{
    margin-top: 3rem;
  }
}